<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>.: Abstract :: {%block title%}{%endblock%} :.</title>
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor.css')}}">

    <!-- script
    ================================================== -->
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <header class="s-header">
        {% include "headerNavBar.html" %}
        {% block header %} {% endblock %}
    </header> <!-- end header -->


    <!-- header
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- masonry
    ================================================== -->
    <section class="s-bricks">
    {% block body%} {% endblock %}
    </section> <!-- end s-bricks -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            {% block footer %}{% endblock%}
        </div>
        {% include 'footerContent.html' %}
   </footer> <!-- end s-footer -->


   <!-- Java Script
   ================================================== -->
   <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/plugins.js')}}"></script>
   <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
