{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block header %}{% endblock %}
{% block body %}
<div class="row">
    <form name="registerForm" id="registerForm" method="post" action="" autocomplete="off">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-field">
                {% if form.fullname.errors %}
                {{form.fullname(id="fullname", class="h-full-width", placeholder="Your Full Name", value="", type="text")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.fullname(id="fullname", class="h-full-width", placeholder="Your Full Name", value="", type="text")}}
                {% endif %}
            </div>
            <div class="form-field">
                {% if form.username.errors %}
                {{form.username(id="username", class="h-full-width", placeholder="Your username", value="", type="text")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.username(id="username", class="h-full-width", placeholder="Your username", value="", type="text")}}
                {% endif %}
            </div>
            <div class="form-field">
                {% if form.email.errors %}
                {{form.email(id="email", class="h-full-width", placeholder="Your Email Account", value="", type="text")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email(id="email", class="h-full-width", placeholder="Your Email Account", value="", type="text")}}
                {% endif %}
            </div>
            <div class="form-field">
                {% if form.email_confirm.errors %}
                {{form.email_confirm(id="email_confirm", class="h-full-width", placeholder="Your same Email Account", value="", type="text")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email_confirm(id="email_confirm", class="h-full-width", placeholder="Your same Email Account", value="", type="text")}}
                {% endif %}
            </div>
            <div class="form-field">
                {% if form.password.errors %}
                {{form.password(id="password", class="h-full-width", placeholder="Secret Key", type="password")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password(id="password", class="h-full-width", placeholder="Secret Key", type="password")}}
                {% endif %}
            </div>
            <div class="form-field">
                {% if form.password_confirm.errors %}
                {{form.password_confirm(id="password_confirm", class="h-full-width", placeholder="Same Secret Key", type="password")}}
                <div class="alert-box alert-box--error">
                    {% for error in form.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password_confirm(id="password_confirm", class="h-full-width", placeholder="Same Secret Key", type="password")}}
                {% endif %}
            </div>
            <div class="message form-field">
                {% if form.birthdate.errors %}
                    {{form.birthdate(id="birthdate", class="h-full-width alert-box alert-box--error", placeholder="Select your Birthdate", type="date")}}
                    <div class="alert-box alert-box--error">
                        {% for error in form.birthdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.birthdate(id="birthdate", class="h-full-width", placeholder="Select your Birthdate", type="date")}}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn--primary btn-wide btn--large h-full-width", value="Sing Up") }}
        </fieldset>
        <p> Already have an account? <a href="{{url_for('auth.login')}}">Log In</a></p>
    </form>

</div>
{% endblock %}
{% block footer %} {% endblock %}
